n8n/backup/workflows-backup-20250413-073218.json
[{"createdAt":"2025-03-09T13:55:47.730Z","updatedAt":"2025-03-22T10:45:54.435Z","id":"tfSxKyOwsB2kwbd7","name":"[forever-product] Chatbot","active":true,"nodes":[{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[540,0],"id":"4c5ecb17-dd3c-4e73-b418-a89859a59857","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=## Role  \nYou are a knowledgeable and helpful AI assistant specialized in answering questions about **Forever Products**. Your goal is to provide accurate, relevant, and well-structured responses based on available data. You must always respond in the language of the user.  \n\n## Knowledge & Tools  \nTo assist users effectively, you have access to the following resources:  \n\n- **Qdrant Vector Store**: Retrieve relevant information from an indexed knowledge base to enhance your answers.  \n- **PostgreSQL Chat Memory Agent**: Maintain conversation history to ensure context-aware and coherent interactions.  \n\n## Guidelines  \n- Always prioritize factual accuracy and clarity.  \n- Use structured, concise, and user-friendly language.  \n- Leverage the memory to provide context-aware responses.  \n- If you lack sufficient data, acknowledge it rather than guessing.  \n- Respond in the same language as the user.\n- Keep answers concise, to the point, and free of unnecessary elaboration.\n"}},"id":"33d1b950-9db9-4584-8629-734ec93fdf73","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[200,0]},{"parameters":{"options":{}},"id":"823d6947-8aa1-463e-bb64-8b14c3840232","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[100,220],"credentials":{"openAiApi":{"id":"faNi5cSDaZ9SHzMe","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,380],"id":"e1a4052b-c071-471c-bc37-e37f002c10c5","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"faNi5cSDaZ9SHzMe","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"vector_store_forever_chatbot","toolDescription":"You can access data about Forever products.","qdrantCollection":{"__rl":true,"value":"forever_products","mode":"list","cachedResultName":"forever_products"},"topK":10,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[400,220],"id":"bbd2f583-97b5-41fd-b57d-0083746a1f77","name":"Qdrant Vector Store - Retrieve docs","credentials":{"qdrantApi":{"id":"LzAbv3t7w1kbtkEs","name":"QdrantApi account"}}},{"parameters":{"public":true,"initialMessages":"👋 Bonjour et bienvenue ! Je suis votre assistant dédié aux produits Forever.","options":{"responseMode":"responseNode","subtitle":"Posez vos questions sur les produits Forever et obtenez des réponses instantanées !","title":"💬 Votre assistant Forever : Infos & conseils produits"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"fa1c53ca-3e06-4d00-b5fe-8a23249d56e7","name":"When chat message received","webhookId":"5c204c85-27b8-453e-bc67-fe6625e4deac"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,220],"id":"8b1871d8-6135-45da-a441-0743eeb2b56e","name":"Window Buffer Memory"}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store - Retrieve docs","type":"ai_embedding","index":0}]]},"Qdrant Vector Store - Retrieve docs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"351df88a-4cac-4216-8ab4-9bce5f89e80a","triggerCount":2,"tags":[]},{"createdAt":"2025-03-29T13:17:41.094Z","updatedAt":"2025-03-29T14:45:43.563Z","id":"hlNlSrPZwu0PBOgV","name":"[DEMO] Prompt injection","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-140,540],"id":"5d56d13f-78ad-45fc-9ed1-85e293406b9f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"faNi5cSDaZ9SHzMe","name":"OpenAi account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[140,540],"id":"78c91410-8e04-454a-8a1a-44b13a6d38aa","name":"Send mail","webhookId":"d89e008a-f744-4b31-915a-bf61d8ba3883","credentials":{"gmailOAuth2":{"id":"GpESQwjvDfMBHUQo","name":"Gmail account"}}},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[20,540],"id":"47af488f-c76f-4909-8ef9-67f331fc7855","name":"Get email","webhookId":"69289d3b-78a5-452b-b68c-0d2699e0fa90","credentials":{"gmailOAuth2":{"id":"GpESQwjvDfMBHUQo","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=ROLE\nTu est un expert en résumé et en résumé de mail.\n\nINSTRUCTION\nFait un résumer des cette article\n\nTOOLS\nTu peut envoyé et récuperer des mails\n\nCONTEXT\nVoici le text a resumer\n{{ $json.data }}\n\n","options":{"systemMessage":"You are a helpful assistant who can send email and make resume."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-80,280],"id":"892345d9-dd26-475d-b515-a75c0069a0b4","name":"AI Agent1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,280],"id":"561df605-66d9-4044-a511-e5a9322742e4","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://notesx.coyls.xyz/mzinyor6","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,280],"id":"5e3e3bb9-d603-4cad-871e-278f5c4ec4d5","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-240,280],"id":"6c6c39ac-acb1-48d1-a4a1-e925de711935","name":"Markdown"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Send mail":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get email":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a72413a0-05e2-4d8f-98f6-490caf20b9a6","triggerCount":0,"tags":[]},{"createdAt":"2025-04-06T17:48:29.881Z","updatedAt":"2025-04-06T18:28:32.366Z","id":"zJmOtKtpvHGawcss","name":"[POC] Whatsapp Chatbot","active":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-160,-120],"id":"6f9a52c6-2ad9-46d3-8dae-9d1afe9a8979","name":"WhatsApp Trigger","webhookId":"80377175-1349-45c5-ade9-6f8b25458301","credentials":{"whatsAppTriggerApi":{"id":"xNcO1HyeuQmGcWD9","name":"WhatsApp OAuth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a252b4e-cfb6-4363-9993-288f28cf65f3","name":"echo","value":"=echo : {{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-120],"id":"1cfbbd11-fe68-4d49-971b-4f5139c62d47","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"550526938154404","recipientPhoneNumber":"=+{{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.echo }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[240,-120],"id":"74bd8f8a-ccba-4797-8b39-43f0fd1d0887","name":"WhatsApp Business Cloud","webhookId":"2ff8207b-4965-4b9b-a216-fba004413f30","credentials":{"whatsAppApi":{"id":"GcPVNqOOOdvmKUaS","name":"WhatsApp account"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04bccf9c-877c-475b-9d76-0495f3a80c45","triggerCount":0,"tags":[]}]